<div class="form-container register-form">
    <form>
        <div>
            <label>Nome de usuário</label>
            <input type="text">
        </div>
        <div>
            <label>Email</label>
            <input type="text">
        </div>
        <div>
            <label>Digite sua senha</label>
            <input type="text">
        </div>
        <div>
            <label>Digite sua senha novamente</label>
            <input type="text">
        </div>
        <div>
            <button>Registrar</button>
        </div>
    </form>
</div>

<button (click)="clickLogin()">Entrar</button>