<div class="form-container register-form">
    <form [formGroup]="formRegister" (ngSubmit)="formSubmit()">
        <div>
            <label for="user">Nome de usuário</label>
            <input type="text" autocomplete="off" formControlName="user">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text" autocomplete="off" formControlName="email">
        </div>
        <div>
            <label for="password">Digite sua senha</label>
            <input type="password" formControlName="password">
        </div>
        <div>
            <label for="repassword">Digite sua senha novamente</label>
            <input type="password" formControlName="repassword">
        </div>
        <div>
            <button type="submit">Registrar</button>
        </div>
    </form>
</div>

<button (click)="clickLogin()">Entrar</button>