<div class="form-container login-form">
    <form [formGroup]="loginForm" (ngSubmit)="formSubmit()" >
        <div>
            <label for="email">Email</label>
            <input type="text" autocomplete="off" formControlName="email">
        </div>
        <div>
            <label for="password">Senha</label>
            <input type="password" formControlName="password">
        </div>
        <div>
            <button type="submit">Entrar</button>
        </div>
    </form>
</div>

<button (click)="clickRegister()">Registar</button>